In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [91]:
filename = 'train.csv'
#testfile = 'test.csv'

In [92]:
df = pd.read_csv(filename)
#tfd = pd.read_csv(testfile)

In [93]:
df.head(10)

,id,b0,b1,b2,b3,b4,b5,b6,b7,b8,...,b93,time,a0,a1,a2,a3,a4,a5,a6,label
0,1,9.67,0.70,0.0,1023.28,12687.0,0.00,4.0,77.07,121.12,...,42.0,0,1,0,0,0,0,0,0,26.92
1,2,16.75,0.00,0.0,311.77,15420.0,0.00,4.0,100.72,198.03,...,40.0,0,0,1,0,0,0,0,0,40.25
2,3,14.93,0.00,0.0,233.10,13739.0,0.47,4.0,33.70,186.82,...,39.0,0,0,0,1,0,0,0,0,24.20
3,4,12.00,0.00,0.0,315.02,12290.0,0.20,4.0,29.63,122.65,...,46.0,0,0,0,0,1,0,0,0,26.80
4,5,17.00,0.00,0.0,208.07,14761.0,0.00,4.0,34.20,182.57,...,39.0,0,0,0,0,0,1,0,0,19.63
5,6,9.05,0.00,0.0,38.20,7234.0,0.00,4.0,0.00,98.10,...,37.0,0,0,0,0,0,0,1,0,5.50
6,7,15.78,0.00,0.0,377.23,11207.0,0.00,4.0,31.72,205.15,...,39.0,0,0,0,0,0,0,0,1,24.93
7,8,0.60,0.65,0.0,290.35,12687.0,0.00,6.0,84.52,121.58,...,42.0,1,1,0,0,0,0,0,0,19.27
8,9,2.18,0.00,0.0,341.53,15420.0,0.00,5.0,116.70,188.20,...,40.0,1,0,1,0,0,0,0,0,23.92
9,10,3.15,0.00,0.0,249.85,13739.0,0.13,5.0,29.67,172.90,...,39.0,1,0,0,1,0,0,0,0,22.77

In [94]:
df.isnull().any().any()

False

In [95]:
df_dtype_nunique = pd.concat([df.dtypes, df.nunique()],axis=1)
df_dtype_nunique.columns = ["dtype","unique"]
df_dtype_nunique

         dtype  unique
id       int64  161168
b0     float64    1378
b1     float64     501
b2     float64       4
b3     float64   31632
...        ...     ...
a3       int64       2
a4       int64       2
a5       int64       2
a6       int64       2
label  float64    4554

[104 rows x 2 columns]

In [96]:
df['label'].unique().size

4554

In [97]:
# Compute the correlation matrix
corr = df.corr()
corr

,id,b0,b1,b2,b3,b4,b5,b6,b7,b8,...,b93,time,a0,a1,a2,a3,a4,a5,a6,label
id,1.000000e+00,-0.004659,0.000958,-0.004374,-0.053314,0.030579,0.022394,-0.000124,0.002458,0.022506,...,0.001232,1.000000e+00,-0.000026,-0.000018,-0.000009,1.265238e-17,0.000009,0.000018,0.000026,0.005706
b0,-4.658970e-03,1.000000,-0.093849,0.021438,0.240389,0.210496,-0.019783,-0.022417,0.165899,0.301547,...,-0.035147,-4.658913e-03,-0.154006,0.195678,-0.053607,3.816663e-03,0.146740,-0.137353,-0.001269,0.183596
b1,9.576115e-04,-0.093849,1.000000,-0.010748,0.046493,0.017027,-0.067586,0.081382,0.275933,-0.205934,...,0.230618,9.736531e-04,0.609455,-0.101531,-0.101741,-1.015575e-01,-0.101549,-0.101496,-0.101581,0.050721
b2,-4.374092e-03,0.021438,-0.010748,1.000000,0.022399,0.073517,-0.010457,-0.002784,0.093595,0.043948,...,-0.007329,-4.371658e-03,-0.020028,0.127391,-0.017430,-1.483227e-02,-0.022950,-0.033016,-0.019135,0.010199
b3,-5.331381e-02,0.240389,0.046493,0.022399,1.000000,0.304308,0.020348,-0.038209,0.397933,0.572716,...,0.223680,-5.330854e-02,0.052246,0.163683,-0.047978,1.321830e-01,-0.102707,-0.430524,0.233097,0.485556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a3,1.265238e-17,0.003817,-0.101558,-0.014832,0.132183,-0.034499,-0.105928,-0.015748,-0.197237,-0.313953,...,0.793400,-1.494632e-18,-0.166667,-0.166667,-0.166667,1.000000e+00,-0.166667,-0.166667,-0.166667,0.141179
a4,8.774779e-06,0.146740,-0.101549,-0.022950,-0.102707,0.312176,-0.110753,-0.026185,-0.035011,0.220959,...,-0.212134,-1.875569e-18,-0.166667,-0.166667,-0.166667,-1.666667e-01,1.000000,-0.166667,-0.166667,-0.063264
a5,1.754956e-05,-0.137353,-0.101496,-0.033016,-0.430524,-0.837456,-0.110753,-0.027220,-0.524278,-0.481222,...,-0.383453,-3.707464e-18,-0.166667,-0.166667,-0.166667,-1.666667e-01,-0.166667,1.000000,-0.166667,-0.416855
a6,2.632434e-05,-0.001269,-0.101581,-0.019135,0.233097,-0.205089,-0.110753,-0.030070,-0.184115,0.374491,...,-0.158713,0.000000e+00,-0.166667,-0.166667,-0.166667,-1.666667e-01,-0.166667,-0.166667,1.000000,0.125285
label,5.706241e-03,0.183596,0.050721,0.010199,0.485556,0.307234,0.071142,0.086497,0.234753,0.341717,...,0.241865,5.713357e-03,0.066240,0.078875,0.068541,1.411791e-01,-0.063264,-0.416855,0.125285,1.000000

In [98]:
"""
par = 5
categorical_features = list()
numerical_features = list()
for column in df.drop(columns=['id','label']):
    if ((df[column]-df[column].astype(int))==0.0).all() and df[column].unique().size<=par:
        categorical_features.append(column)
    else:
        numerical_features.append(column)
            
print(categorical_features)
print(numerical_features)
"""

"\npar = 5\ncategorical_features = list()\nnumerical_features = list()\nfor column in df.drop(columns=['id','label']):\n    if ((df[column]-df[column].astype(int))==0.0).all() and df[column].unique().size<=par:\n        categorical_features.append(column)\n    else:\n        numerical_features.append(column)\n            \nprint(categorical_features)\nprint(numerical_features)\n"

In [99]:
try:
    df=pd.get_dummies(data=df, columns=categorical_features)
except KeyError:
    print("Maybe already hot encoded")
#tdfpd.get_dummies(tdf, columns=categorical_features)
df.columns.size

132

In [100]:
from sklearn.model_selection import train_test_split

X=df.drop(columns=['id','label'])
X_train,X_val,y_train,y_val = train_test_split(X,df['label'],test_size=0.10,random_state=42)  
#X_final_test = tdf.drop(columns=['id'])
X.columns

Index(['b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9',
       ...
       'a2_0', 'a2_1', 'a3_0', 'a3_1', 'a4_0', 'a4_1', 'a5_0', 'a5_1', 'a6_0',
       'a6_1'],
      dtype='object', length=130)

In [101]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
X_val[numerical_features] = scaler.transform(X_val[numerical_features])
#X_final_test[numerical_features] = scaler.transform(X_final_test[numerical_features])  

X_train[numerical_features].head()

<ipython-input-101-5ddc9b6c3aed>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
/home/anany/anaconda3/envs/ML/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
<ipython-input-101-5ddc9b6c3aed>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val[numerical_features] = scaler.transform(X_val[numerical_features])
/home/anany/anaconda3/envs/ML/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,...,b84,b85,b86,b87,b88,b90,b91,b92,b93,time
41404,-0.149502,0.02,0.0,-0.889234,-0.561323,0.0,0.0,-0.173487,-0.132408,-0.424883,...,-0.004342,-0.029322,-0.300725,0.0,0.0,-0.263187,0.0,0.0,0.0,-0.486064
67693,0.757475,0.00,0.0,0.796646,-0.151096,0.0,0.0,-0.100480,-0.022571,-0.226526,...,-0.004342,-0.001983,0.504366,0.0,0.0,1.381044,-0.5,0.0,1.5,-0.159937
27345,3.504983,0.02,0.0,0.724224,-0.173010,0.0,-1.0,-0.040346,-0.189258,-0.066901,...,-0.004342,-0.005709,0.090284,0.0,0.0,1.543407,1.5,0.0,1.0,-0.660415
92455,-0.149502,0.00,0.0,-0.804922,-0.527105,0.0,-1.0,-0.186551,-0.128183,-0.449531,...,-0.006203,-0.028577,-0.147794,0.0,0.0,-0.280769,0.5,0.0,-0.5,0.147174
125168,2.013289,0.00,0.0,0.677243,1.133410,0.0,-1.0,1.602305,0.482800,1.005869,...,1.366625,0.774667,0.262945,0.0,0.0,0.539286,0.0,1.0,0.0,0.553009

In [102]:
from sklearn.linear_model import LinearRegression 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
regr1 = LinearRegression()
regr2 = DecisionTreeRegressor() 
regr3 = RandomForestRegressor(n_estimators=15,
                              max_features='auto',
                              oob_score=True,
                              n_jobs=-1,
                              random_state=42,
                              min_samples_leaf=2)
  
regr3.fit(X_train, y_train) 
acc = regr3.score(X_val, y_val)*100

/home/anany/anaconda3/envs/ML/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:815: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

   accuracy--> 98.450243
0  accuracy--> 98.450243

In [89]:
#regr2.predict(X_final_test)

In [103]:
data = DataFrame({"accuracy":[acc]})
data.to_csv("log.csv", header=False, mode=a)